<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seattle Soccer All Categories</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
    <body>
        <h1>All categories</h1>
        <% if (categories.length === 0) { %>
            <a>No categories found</a>
        <% } else { %>
            <!-- there should be a bunch of buttons, each representing a category page to view -->
            <% categories.forEach((category) => { %>
                <a href="/categories/<%= category.id %>" class="button">
                    <%= category.name %>    
                </a>
            <% }); %>
        <% } %>

        
        <form method="POST" action="/categories">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="description">Description</label>
            <textarea name="description" rows="5" cols="30"></textarea>
            <input type="submit" value="submit">
        </form>
    </body>
</html>