<html>
    <body>
        <h1>Welcome to the Seattle Soccer Inventory System!</h1>
        <a href="/categories" class="button">
            View All Categories
        </a>
        <!-- display store statistics: num categories, num items, num stock, most stocked items -->
    </body>
</html>