<html>
    <body>
        <h1>Welcome to the Seattle Soccer Inventory System!</h1>
        
        <!-- there should be a bunch of buttons, each representing a category page to view -->
    </body>
</html>