<html>
    <body>
        <h1>Welcome to the Seattle Soccer Inventory System!</h1>
        
        <!-- display store statistics: num categories, num items, num stock, most stocked items -->
    </body>
</html>